# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# Environments
.env
.venv
env/
venv/
ENV/

# Databases
# *.db
*.sqlite3

# Data files (optional, uncomment to ignore large data files)
# *.csv
# data/raw/
datasets/
chat_history/
tests/
models/
